/* 폰트는 항상 최상위에서 import */
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css');
@import '@fontsource-variable/m-plus-2';

/* Tailwind */
@import 'tailwindcss';
@plugin "tailwindcss-animate";

/* 공유 토큰 */
@import '../foundation/index.css' layer(base);

/* VGK 플랫폼 토큰 */
@import './tokens/base.css' layer(base);

/* 다크 모드 (조건부) */
@import '../foundation/dark.css' layer(dark);

@layer base {
  html {
    font-family: var(--font-family-pretendard);
    font-size: 16px;
    user-select: none;
  }

  html[lang='ko'] {
    font-family: var(--font-family-pretendard);
  }

  html[lang='jp'] {
    font-family: var(--font-family-m-plus-2);
    font-weight: 1 999;
  }

  button:focus { outline: none; }
}
